
$primary-game-color: #922FD4;
$secondary-game-color: #CD0276;

img {
  max-width: 70px;
  max-height: 35px;
  margin-left: 47.7%;
  margin-bottom: 0;
  margin-top: 0;
}

.game-field {
  align-content: center;
  margin-top: 0px;
  margin-left: 404px;
  position: relative;
}
.game-button {
  margin: 10px;
  height: 500px;
  width: 350px;
  border: none;
  border-radius: 10px;
  background-color: $primary-game-color;
  color: white;
  font: 30px normal;
  text-align: center;
  position: relative;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
  &:hover{
    background-color: $secondary-game-color;
    color: black;
    font: 40px bold;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 2);
  }
}

br {
  margin-bottom: 17px;
}

.challenge-card {
  margin-top: 80px;
  margin-left: 650px;
  position: relative;
  width: 640px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 4);
  text-align: center;
  &:hover {
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 4);
  }
}

.card-text {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  font: 20px normal;
}

.card-header {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 35px;
  font-weight: 500;
}

.card-divider {
  width: 90%;
  color: #EEEEEE;
}

.container {
  background-color: #922FD4;
  border: 5px solid black;
  height: 275px;
  width: 750px;
  margin: 0 auto;
  text-align: center;
}

.output {
  margin: 25px auto;
  font-size: 20px;
  color: black;
}

.icon-test {
  margin-bottom: 2px;
  height: 2em;
  width: 2em;
  &:hover{
    height: 3em;
    width: 3em;
    color: limegreen;
    line-height: 30px;

  }
}